  .row-image-1{  
    height: 80vh;
    background: linear-gradient( rgba(0, 0, 0, 0.7),rgba(0,0,0,0.7)), url(images/cover/cover-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    position: relative;

  }

  .row-image-2{
    height: 80vh;
    background: linear-gradient( rgba(0, 0, 0, 0.7),rgba(0,0,0,0.7)), url(images/cover/cover-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
  }

  .row-image-3{
    height: 80vh;
    background: linear-gradient( rgba(0, 0, 0, 0.7),rgba(0,0,0,0.7)), url(images/cover/cover-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
  }
   
  @media (max-width: 765px ) {
    .course-1 img{
      width: 100% ;
      
    }
    .join-now{
      text-align: center;
    }
    .student-title{
      text-align: center;
      
    }

    .card-review{
      display: block;
    }
    .card-img{
      width: 22rem;

    }
  }


.starts i{
  color: gold;
}

.socials i{
  font-size: 18px;
  background-color: #9E9E9E;
  padding: 8px;
  border-radius: 60px;
  margin: 10px;
}
